body
{
  background-color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 200px;
}

.card{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg,#00cbfe ,#3bd3b2);
  color:#fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: grey;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 20px;
  
}

.search input:hover{
  box-shadow: 5px 5px 1px #ebfffc65;
}

.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button:hover {
  box-shadow: 4px 4px 1px #ebfffc65;
}

.search button img{
  width: 20px;
  display: block;
  margin: auto;
}

.weather-icon{
  width: 170px;
  margin-top: 30px;
}

.weather h1{
  font-size: 80px;
  font-weight: 500px;
}

.weather h2{
  font-size: 45px;
  font-weight: 400px;
  margin-top: -10px;
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 40px;
  margin-right: 10px;
}

.humidity, .wind{
  font-size: 28px;
  margin-top: 1px;
  margin-bottom: 0px;
}

.wind-humidity{
  margin: 5px 0px;
}

.weather{
  display: none;
}

.error{
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  margin-top: 15px;
  display: none;
}

.search input::placeholder{
  color: #999999c0;
  font-size: 20px;
}